* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}